<div class="container w-100 home-container">
  <div class="col-xs-12 col-md">
    <div class="con col-xs-12" align="center">
      <img src="assets/IronMan.jpeg" alt="" />
    </div>
    <div class="overhead col-md-offset-3">
      <div class="square col"><a>Movies</a></div>
      <div class="square col"><a>Heroes</a></div>
      <div class="square col"><a>Villains</a></div>
    </div>
  </div>
</div>
<div class="about">
  <mat-card class="col-md-push-3">
    <mat-card-title align="center">
      <div class="">
        <button class="about-header" type="button">About</button>
        <button class="about-marvel" type="button">Marvel</button>
      </div>
    </mat-card-title>
    <mat-card-content align="center">
      <p class="">
        Marvel is a comic book publishing company that was founded in 1939. It
        is now owned by Disney and is known for creating popular superhero
        characters such as Spider-Man, the X-Men, Iron Man, Captain America,
        Thor, and many others. The Marvel Cinematic Universe (MCU) is a series
        of interconnected superhero films produced by Marvel Studios that began
        with Iron Man in 2008.
      </p>
    </mat-card-content>
  </mat-card>
</div>
