<div class="container w-100 home-container" fxFlexFill fxLayout="row" fxLayout.xs="column" >
  <div class="" fxLayoutAlign="center center" fxFlexFill>
    <div class="con">
      <img src="assets/IronMan.jpeg" alt="" />
    </div>
    <div class="overhead" fxLayout="row" >
      <div class="square" fxLayoutAlign="center center" ><a>Movies</a></div>
      <div class="square" fxLayoutAlign="center center"><a>Heroes</a></div>
      <div class="square" fxLayoutAlign="center center"><a>Villains</a></div>
    </div>
  </div>
</div>
<div class="about" fxLayoutAlign="center">
  <mat-card class="" >
    <mat-card-title fxLayoutAlign="center center">
      <div class="">
        <button class="about-marvel" type="button">About</button>
        <button class="about-header" type="button">Marvel</button>
      </div>
    </mat-card-title>
    <mat-card-content>
      <p class="">
        Marvel is a comic book publishing company that was founded in 1939. It
        is now owned by Disney and is known for creating popular superhero
        characters such as Spider-Man, the X-Men, Iron Man, Captain America,
        Thor, and many others. The Marvel Cinematic Universe (MCU) is a series
        of interconnected superhero films produced by Marvel Studios that began
        with Iron Man in 2008.
      </p>
    </mat-card-content>
  </mat-card>
</div>
