<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Marvel</a>
    </div>
    <button
      type="button"
      class="toggler navbar-toggle"
      data-toggle="collapse"
      data-target="#myNavbar"
    >
      <mat-icon class="">menu</mat-icon>
    </button>
    <div
      class="collapse navbar-collapse header col-sm-1 col-sm-push-5"
      id="myNavbar"
    >
      <ul class="nav navbar-nav nav-links">
        <li class="" routerLinkActive="active"><a routerLink="">Home</a></li>
        <li routerLinkActive="active"><a routerLink="/heroes">Heroes</a></li>
        <li routerLinkActive="active"><a routerLink="/villains">Villains</a></li>
        <li routerLinkActive="active"><a routerLink="movies">Movies</a></li>
      </ul>
    </div>
  </div>
</nav>
