<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid" fxLayout="row">
    <div class="navbar-header" fxLayoutAlign="center">
      <a fxLayoutAlign="center center" class="navbar-brand">Marvel</a>
    </div>

    <div
      class="collapse navbar-collapse header"
      fxFlexLayout
      fxLayoutAlign="center end"
      fxFlexOffset="40%"
      fxLayout.xs="row"
      fxFlexOffset.xs="30%"
      fxFlexOffset.sm="30%"
    >
      <ul
        class="nav navbar-nav nav-links"
        [fxShow.xs]="displaySmallerScreen"
        [fxShow.sm]="displaySmallerScreen"
      >
        <li class="" routerLinkActive="active">
          <a fxLayoutAlign="center center" routerLink="">Home</a>
        </li>
        <li routerLinkActive="active">
          <a fxLayoutAlign="center center" routerLink="/heroes">Heroes</a>
        </li>
        <li routerLinkActive="active">
          <a fxLayoutAlign="center center" routerLink="/villains">Villains</a>
        </li>
        <li routerLinkActive="active">
          <a fxLayoutAlign="center center" routerLink="movies">Movies</a>
        </li>
      </ul>
      <button
        [fxHide]="true"
        [fxShow.xs]="true"
        [fxShow.sm]="true"
        fxFlexOffset.xs="15%"
        fxFlexAlign="start"
        class="navbar-toggle"
        (click)="onDisplayOnSmallerScreen()"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </div>
</nav>
